.dot {
    color: #FF57B2;
}

.tagImg {
    max-width: 3rem;
    margin-right: 1rem;
}

.nameLogoImg {
    max-width: 12rem;
    margin-right: 0.25rem;
}

.containerHeader {
    width: 100%;
    height: 10rem;
    padding: 4rem 0;
}